/*   
  Proyect  Name: Roja -visual novel-
  Author: Julif
  Author URI: https://julif.github.io/
  Version: 0.5
  Description: Un tema de worpress de prueba, donde puedo practicar y testear mis habilidades con javascript php y css.
  License: GNU General Public License v2 or later
  License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
@font-face {
  font-family: "julif Handwriting";
  src: url(fonts/Julif_handwriten.ttf) format("truetype");
}
@font-face {
  font-family: "Zooma";
  src: url(fonts/Zooma.ttf) format("truetype");
}
:root {
  --main-bg-color: #0b0a10;
  --red: #e43939;
}
body{
  background-color: var(--main-bg-color); 
  margin: 0px auto;
  /* font-family:"julif Handwriting"; */
  font-family: "proxima-nova",sans-serif;
  color: white;
  position: relative;
}
section{
  background-color: #605690;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100%;
  /* width: 100vw; */
  position: absolute;
    width: 100%;
}
h1{
  font-family:"Zooma";
  font-size: 100px;
  margin: 20px;
  margin-top: 0;
  font-weight: 100;
}
/* --------------------------------|| fullwiev button ||----------------------------------------*/
#full {
  background-color: transparent;
  color: white;
  font-family: sans-serif;
  margin: 10px;
  float: right;
  position: absolute;
  border-radius: 20%;
  right: 0px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  z-index: 5;
}
#fullwiev {
  padding: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: none;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border-radius: 20%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  display: inherit;
  outline: 0;
  text-decoration: none;
}
#fullwiev:hover {
  color: var(--red);
}
.fa-expand {
  font-size: 30px!important;
}
/*esconder el boton en pantalla completa */
/* 
#contenedor:requestFullscreen >  #landscape #full #fullwiev {display: none;}
#contenedor:-moz-full-screen > #landscape #full #fullwiev {display: none;} // Firefox/
#contenedor:-webkit-full-screen > #landscape #full #fullwiev {display: none;} // Chrome, Safari & Opera /
#contenedor:-msRequestFullscreen > #landscape #full #fullwiev {display: none;} // IE/Edge 
*/
#contenedor:requestFullscreen >   #full #fullwiev {display: none;}
#contenedor:-moz-full-screen >  #full #fullwiev {display: none;} /* Firefox */
#contenedor:-webkit-full-screen >  #full #fullwiev {display: none;} /* Chrome, Safari & Opera */
#contenedor:-msRequestFullscreen >  #full #fullwiev {display: none;} /* IE/Edge */


/*----|| popper.js tooltip ||-----*/
#tooltip {
  color: #0b0a10;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  pointer-events: none;
  z-index: 1;
  background: rgb(255, 255, 255);
  background: #ffc522;
  padding: 5px 10px;
  border-radius: 4px;
  display: flex;
  opacity: 0;
  transition: all 0.5s ease 0s;
  -webkit-box-shadow: 2px 9px 31px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 9px 31px -1px rgba(0,0,0,0.75);
  box-shadow: 2px 9px 31px -1px rgba(0,0,0,0.75);
}
.fa-info-circle {
  background-color: black;
  color: #ffc522;
  padding: 6px 7px;
  font-size: 20px;
  border-radius: 6px;
}
#tooltip span {
  width: 130px;
  text-align: center;
}
#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}
#arrow, #arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}
#arrow::before {
  content: '';
  transform: rotate(45deg);
  background: white;
  background: #ffc522;
}
#contenedor:-webkit-full-screen > #full #tooltip {
  display: none;
}


/* --------------------------------|| loading screen ||----------------------------------------*/
#preloader {
  margin-left: 15000px;
  position: fixed;
  color: white;
}
#preloader img {
  width: auto;
  height: 150px;
}
#version_div{
  position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: monospace;
    letter-spacing: -1px;
  }
#porcentaje_contenedor {
  background-color: black;
  color: white;
  height: 20px;
  display: flex;
  position: relative;
}
#porcentaje_contenedor #barra {
  background-color: white;
  display: block;
  width: 0%;
  height: 100%;
}
#porcentaje_contenedor #porcentaje {
  color: #f7f7f7;
  top: 2px;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "proxima-nova",sans-serif;
  mix-blend-mode: difference;
}

/* --------------------------------|| portrait y landscape ||----------------------------------------*/

@media (orientation: portrait) {
  #landscape{ display: none;}
  #portrait{ display: flex;}
}
@media (orientation:landscape) {
  #landscape{ display: inherit;}
  #portrait{ display: none!important;}
}

#portrait img{
  width: 250px;
  height: auto;
  animation-name: portrait_image_rotation; 
  animation-duration: 1.0s;
  transform: rotate(90deg);
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
}
@keyframes portrait_image_rotation {
  0%   {transform: rotate(90deg);}
  100% {transform: rotate(0deg);}
}


/* --------------------------------|| main menu ||----------------------------------------*/

#roja_titulo {
  font-family: 'Zooma';
  font-size: 200px;
  margin: 20px;
  font-weight: 100;
  margin-bottom: 0px!important;
  margin-top: 0px!important;
}
#roja_titulo span {
  color: #e43939;
}
#sub_title {
  margin-top: 8px;
  font-size: 18px;
  font-size: 24px;
}
#start_button{
  color: white;
  border: 2px solid white;
  padding: 11px;
  margin: 4%;
  font-size: 1.0vw;
  /* letter-spacing: 2.5px; */
  font-kerning: none;
  /* font-weight: 600; */
  cursor: pointer;
  background-color: #0b0a10;
  /* font-family: "julif Handwriting"; */
  font-size: 25px;
  font-family: "proxima-nova",sans-serif;
  text-transform: uppercase;
}
@media only screen and (max-width: 800px){
  #roja_titulo {
    font-size: 100px;
    margin: 15px;
    font-weight: 100;
  }
  #sub_title {
    font-size: 15px;
  }
 #start_button{
    font-size: 15px;
    padding: 8px;
    margin: 1%;
 }
}

